{%  extends ('pagetype.html.twig') %}

    {% block main %}

    <h2>Filtrer les sorties</h2>
<br>


        <!--AJOUT DU MESSAGE FLASH VALENTIN -->

        {% for message in app.flashes('successCreateSortie') %}
            <div class="alert alert-info" role="alert">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
<form method="post" class = "row" action="/afficher/afficSortie">


    <!-- recherche plus classique  -->
    <div class="col-5 offset-1">

        <!-- menu deroulant -->
        <div class="form-group row" style="padding-left: 15px;" >
            <label for="exampleFormControlSelect1 col-5 " > Site : </label>
            <select class="form-control col-5 offset-5" id="exampleFormControlSelect1" name="selectSite">
                <option>Tous</option>
                {% for s in allSite  %}
                <option>{{ s.nom }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- recherche -->
        <div class="form-group row ">
            <label for="formGroupExampleInput" class="col-5"  >Le nom de la sortie contient :</label>
            <input type="text" class="form-control col-5 offset-1" id="formGroupExampleInput"  name="infoSearch" >
        </div>


        <!-- recherche date-->
        <!--creation de la variable date du jour -->
        {% set date = "now" | date("Y-m-j")%}
        {% set dateMini = "now" | date_modify("-1 month") | date("Y-m-j")%}

        <div class="form-group row ">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value=true id="defaultCheckDate" name="checkDate">
                <label class="form-check-label" for="defaultCheck1" >
                    Entre le :
                </label>
            </div>

        <input type="date"   min="{{ dateMini | date("Y-m-d") }}"  value="{{ date | date("Y-m-d") }}" name="dateMini" id="dateMini" class="col-4">

        <label for="dateMaxi" class="col-2"  > et le :</label>
        <input type="date"  min=""  value="{{ date | date("Y-m-d") }}"  name="dateMaxi" id="dateMaxi"  class="col-4">
        </div>

    </div>

    <!-- si un utilisateur est connecté on affiche les checkbox -->

    {% if app.user %}

            <!-- les checkbox -->
            <div class="col-5 offset-1">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value=true id="defaultCheck1" name="checkOrga">
                    <label class="form-check-label" for="defaultCheck1">
                        Sorties dont je suis l'organisateur/trice
                    </label>
                </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value=true id="defaultCheck1" name="checkInscrit">
                <label class="form-check-label" for="defaultCheck1">
                    Sorties auxquelles je suis inscrit/e
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value=true id="defaultCheck1" name="checkNonInscrit">
                <label class="form-check-label" for="defaultCheck1">
                    Sorties auxquelles je ne suis pas inscrit/e
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value=true id="defaultCheck1" name="checkOldSortie">
                <label class="form-check-label" for="defaultCheck1">
                    Sorties passées
                </label>
            </div>
    {% endif %}

<br>


        <!-- et le boutton de recherche -->
        <div class="row">
            <button type="submit" class="btn btn-info " id="seek">Rechercher</button>
        </div>
    </div>
</form>

<br>

<!-- -------------------------------------------------------------------------------------------- -->

    <!-- Affichage des informations sur les sorties -->

        {% if not allSortie %}

        <h2 class="text-center">Aucun Resultat</h2>

        {% endif %}





        {% if allSortie %}

            <div class="row col-11 offset-1">
                        {% for s in allSortie  %}


                            <!-- on compte le nombre de participant pour chaque sorti (nbP) -->
                            <!-- on vérifie que l'utilisteur n'est pas deja inscrit (UInscrit) -->
                            {% set nbP = 0 %}
                                {% set UInscrit = false %}
                                {% set Plein = false %}
                                    {% for p in s.Participant %}
                                        {% set nbP = nbP + 1 %}
                                          {% if  p == app.user%}
                                            {% set UInscrit = true %}
                                          {% endif %}
                                    {% endfor %}
                                <!-- on vérifie qu'il reste de la place pour pouvoir s'inscrire -->
                                {% if nbP == s.nbInscriptionsMax %}
                                    {% set Plein = true %}
                                {% endif %}


                        {# création d'un block#}
                        <div class="col-lg-3 sortie shadow p-3 mb-5 bg-white rounded mx-4">

                        <!-- on affiche l'image en fonction de la categorie -->
                            <div class="justify-content-md-center">
                            {% if s.categorie.libelle == "sport" %}
                                <img src="{{asset('build/images/sport.jpg')}}" alt="sport" class="image-picto-m">
                                {% elseif s.categorie.libelle == "musique" %}
                                <img src="{{asset('build/images/music4.jpg')}}" alt="musique" class="image-picto-m">
                                {% elseif s.categorie.libelle == "culture" %}
                                <img src="{{asset('build/images/culture.jpg')}}" alt="culture" class="image-picto-m">
                                {% elseif s.categorie.libelle == "informatique" %}
                                <img src="{{asset('build/images/informatique.jpg')}}" alt="informatique" class="image-picto-m">
                                {% elseif s.categorie.libelle == "apero" %}
                                <img src="{{asset('build/images/aperitif.jpg')}}" alt="aperitif" class="image-picto-m">
                                {% else %}
                                <img src="{{asset('build/images/divers.jpg')}}" alt="divers" class="image-picto-m">
                            {% endif %}
                            </div>

                            <!-- on affiche les autres infos -->
                            <h2 class="h2-nom">{{s.nom}}</h2>
                            <p>Date de la sortie : le {{ s.dateHeureDebut |date("d/m/Y à H:i") }}</p>
                            <p>Site : {{ s.site.nom }}</p>
                            <p>Nb d'inscrit : {{ nbP }} / Nb place : {{s.nbInscriptionsMax}}</p>
                            <p>Organisateur : <a href="{{ path('user_show_profile', {'id': s.Organisateur.id }) }}">{{ s.Organisateur }}</a></p>

                            <div class="row p-2 text-center">


                                    <!-- si un utilisateur est connecté -->

                                        {% if app.user %}
                                            {% if s.etat.id != 5 %}
                                            <a href="{{ path('sortie_show', {'id': s.id}) }}" class="offset-1 col-4"><button class="btn btn-primary ">Afficher</button></a>
                                            {% endif %}
                                    <!-- si l'user n'est pas inscrit, qu'il reste de la place, et que la date de limite d'insccription
                                     n'est pas dépassée apparition du boutton inscription -->
                                            {% if UInscrit == false  and Plein == false and "now"|date('Y-m-d') <= s.dateLimiteInscription|date('Y-m-d') and s.etat.id != 5 %}
                                                <button value="{{ s.id }}" class="inscription  btn btn-success" >M'inscrire</button>

                                            {% endif %}

                                     <!-- si la date d'inscription est dépassée -->
                                            {% if UInscrit == false  and Plein == false and "now"|date('Y-m-d') > s.dateLimiteInscription|date('Y-m-d') %}
                                                <br>
                                                <div class="inscriptions-fermees">Inscriptions fermées</div>
                                            {% endif %}

                                        {% endif %}
                                <!-- si l'user est inscrit apparition du boutton pour se desinscrire -->
                                {% if UInscrit == true %}
                                        <button value="{{ s.id }}" class="desincription offset-1  btn btn-danger" >Me désinscrire</button>



                                    {% endif %}

                                        {% if not app.user %}
                                          <a href="{{ path('fos_user_security_login') }}"><button class=" btn btn-warning ">Connectez vous</button></a>
                                        {% endif %}
                            </div>
                    <br>

                </div>

                        {% endfor %}
            </div>
        {% endif %}


{% endblock %}



{% block javascripts %}

    <!-- lien avec le fichier js -->

    {{ encore_entry_script_tags('affiche') }}

{% endblock %}