{% extends 'pagetype.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block main %}

    <section class="container container-new-sortie">
        <h1>Crée un nouvelle Sortie</h1>

        <!--Formulaire de création d'un sortie -->
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        <div class="row">
            <div class="form-group site col-lg-6">
                {{ form_label(form.site) }}
                {{ form_widget(form.site) }}
            </div>
            <div class="form-group dateHeureDebut form-inline col-lg-6">
                {{ form_label(form.dateHeureDebut) }}
                {{ form_widget(form.dateHeureDebut) }}
            </div>

        </div>

        <div class="row">
            <div class="form-group categorie col-lg-6 ">
                {{ form_label(form.categorie) }}
                {{ form_widget(form.categorie , {'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group duree col-lg-6">
                {{ form_label(form.duree) }}
                {{ form_widget(form.duree) }}
            </div>

        </div>

        <div class="row">
            <div class="form-group nom col-lg-6">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom) }}
            </div>
            <div class="form-group dateLimiteInscription col-lg-6">
                {{ form_label(form.dateLimiteInscription) }}
                {{ form_widget(form.dateLimiteInscription) }}
            </div>

        </div>

        <div class="row">
            <div class="form-group infosSortie col-lg-6">
                {{ form_label(form.infosSortie) }}
                {{ form_widget(form.infosSortie) }}
            </div>
            <div class="form-group ville col-lg-6">
                {{ form_label(form.ville) }}
                {{ form_widget(form.ville) }}
            </div>

        </div>

        <div class="row">
            <div class="form-group nbInscriptionsMax col-lg-6">
                {{ form_label(form.nbInscriptionsMax) }}
                {{ form_widget(form.nbInscriptionsMax) }}
            </div>
            <div class="form-group col-lg-6">
                <label for="sortie_lieu">Choisir un lieu</label>
                <select id="sortie_lieu" name="choixLieu" class="form-control" required>
                    <option value="" disabled selected>Choisir un lieu</option>
                </select>
                <br>
                <button class="button" style="vertical-align:middle" type="button" id="newLieu" data-toggle="modal" data-target="#exampleModal" ><span>Ajouter un lieu</span></button>
                <input type="hidden" id="urlPath" value="/sortie/ajaxLieu">
            </div>
        </div>

        <div class="row">
            <div id="successLieu"></div>
            <div id="inputLieu"></div>

        </div>

        <!-- Modal pour la création du lieu -->


        <div class="row">
            <div class="form-group annuler col-lg-9">
                <a href="/accueil"><button class="btn btn-danger">Annuler</button></a>
            </div>

            <div class="form-group enregistrer col-lg-2">
                {{ form_label(form.Enregistrer) }}
                {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-primary'} }) }}
            </div>

            <div class="form-group publier col-lg-1">
                {{ form_label(form.Publier) }}
                {{ form_widget(form.Publier, {'attr': {'class': 'btn btn-primary'} }) }}
                {{ form_end(form) }}
            </div>


        </div>
        <div class="row">
            <div class="col-lg-9"></div>
            <div class="form-group annuler col-lg-3">
               <a href="/accueil"><button class="btn btn-danger">Annuler</button></a>

        </div>

        </div>


        <!--Formulaire de création d'un lieu -->

        <!-- Modal -->
        <div class="modal fade form-inline" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Créer un nouveau lieu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body form-group form-check-input justify-content-center">

                        {{ form_start(formLieu, {'attr': {'id': 'ajoutLieu'}}) }}


                        {{ form_label(formLieu.nom) }}
                        {{ form_widget(formLieu.nom) }}

                        {{ form_label(formLieu.rue) }}
                        {{ form_widget(formLieu.rue) }}

                        {{ form_label(formLieu.longitude) }}
                        {{ form_widget(formLieu.longitude) }}

                        {{ form_label(formLieu.latitude) }}
                        {{ form_widget(formLieu.latitude) }}
                    <div class="form-check">
                        {{ form_label(formLieu.nomVille) }}
                        {{ form_widget(formLieu.nomVille) }}
                    </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">{{ button_label|default('Enregitrer') }}</button>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>

                    </div>
                </div>
            </div>
        </div>

    </section>
    {{ encore_entry_script_tags('newSortie') }}
{% endblock %}

{% block javascripts %}

{% endblock %}

