{% extends 'pagetype.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block main %}
    <section class="container">
        <h1>Detail de la Sortie</h1>

        <table class="table">
            <tbody>


                <tr>
                    <th>Nom</th>
                    <td>{{ sortie.nom }}</td>
                </tr>
                <tr>
                    <th>Date de la sortie</th>
                    <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d') : '' }}</td>
                    <input id="dateSortie" type="hidden" value="{{ sortie.dateHeureDebut|date("M j, Y H:i:s") }}">
                </tr>
                <tr>
                    <th>Duree</th>
                    <td>{{ sortie.duree }}</td>
                </tr>
                <tr>
                    <th>Date limite d'inscription</th>
                    <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Nombre d'inscription maximum</th>
                    <td>{{ sortie.nbInscriptionsMax }}</td>
                </tr>
                <tr>
                    <th>Informations</th>
                    <td>{{ sortie.infosSortie }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <tbody>
            <tr>
                <th>Commence dans </th>
                <td><p id="countDown"></p></td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('sortie_index') }}">back to list</a>


        <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">edit</a>

        <!-- A faire, liste des participants -->



        {{ encore_entry_script_tags('sortieDetailJS') }}
    </section>
{% endblock %}
