{% extends 'pagetype.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block main %}
    <section class="container showSortie">
        <div class="row">

            {% if sortie.categorie.id == 1  %}
                <img src="{{ asset('build/images/sport.jpg') }}" alt="annonceVet" class="col-lg-6"/>
            {% elseif sortie.categorie.id == 2 %}
                <img src="{{ asset('build/images/music4.jpg') }}" alt="annonceAuto" class="col-lg-6"/>
            {% elseif sortie.categorie.id == 3 %}
                <img src="{{ asset('build/images/informatique.jpg') }}" alt="annonceEmploi" class="col-lg-6"/>
            {% elseif sortie.categorie.id == 4 %}
                <img src="{{ asset('build/images/culture.jpg') }}" alt="annonceMaison" class="col-lg-6"/>
            {% elseif sortie.categorie.id ==  5 %}
                <img src="{{ asset('build/images/divers.jpg') }}" alt="annonceLoisir" class="col-lg-6"/>
            {% elseif sortie.categorie.id == 6  %}
                <img src="{{ asset('build/images/aperitif.jpg') }}" alt="annonceDivers" class="col-lg-6"/>
            {% endif %}

            <div class="col-lg-6">
                <h1>{{ sortie.nom }}</h1>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Date de la sortie</th>
                            <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d') : '' }}</td>
                            <input id="dateSortie" type="hidden" value="{{ sortie.dateHeureDebut|date("M j, Y H:i:s") }}">
                        </tr>
                        <tr>
                            <th>Duree</th>
                            <td>{{ sortie.duree }}</td>
                        </tr>
                        <tr>
                            <th>Date limite d'inscription</th>
                            <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Nombre d'inscription maximum</th>
                            <td>{{ sortie.nbInscriptionsMax }}</td>
                        </tr>
                        <tr>
                            <th>Informations</th>
                            <td>{{ sortie.infosSortie }}</td>
                        </tr>
                        <tr>
                            <th>Organisateur</th>
                            <td><a href="{{ path('user_show_profile', {'id': sortie.Organisateur.id }) }}">{{ sortie.Organisateur }}</a></td>
                        </tr>




                    </tbody>
                </table>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Commence dans </th>
                        <td><p id="countDown"></p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                    <!--Liste des participants -->
                    {% if tabParticipants %}
                        <h1>Liste des participants</h1>
                        <table class="table">
                        <tbody>
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Pseudo</th>
                            </tr>
                        {% for participant in tabParticipants %}

                                <tr>
                                    <td>{{ participant.nom }}</td>
                                    <td>{{ participant.prenom }}</td>
                                    <td><a href="{{ path('user_show_profile', {'id': participant.id }) }}">{{ participant.username }}</a></td>
                                </tr>

                        {% endfor %}
                        </tbody>
                        </table>
                        {% elseif tabParticipants is empty  %}
                            <h1>Soyez le premier participants</h1>
                    {% endif %}

            </div>
        </div>

        <div class="row justify-content-center btnDetailSortie">
            {% if app.user in sortie.participant  %}
                <button value="{{ sortie.id }}" class="btn-sortie desincription btn btn-danger" >Me désinscrire</button>
                {% else %}
                    <button value="{{ sortie.id }}" class="btn-sortie inscription btn btn-success" >M'inscrire</button>
            {% endif %}

            <!--        ///////////////   OK    ////////////////              -->
            {% if sortie.organisateur.id == app.user.id  %}
                <a href="{{ path('sortie_edit', {'id': sortie.id}) }}"><button class="btn-sortie btn btn-primary">Modifier</button></a>
            {% endif %}

            <div class="form-group annuler">
                <a href="{{ url('Sortie_afficheraffich_affich') }}"><button class="btn-sortie btn btn-danger">Retour</button></a>
            </div>


        </div>
        {{ encore_entry_script_tags('sortieDetailJS') }}

    </section>
{% endblock %}
