{% extends ('pagetype.html.twig') %}

{% block main %}


<article class="article-jeunesse">
    <div class="container-fluid img-jeunesse">
        <div class="row">

                <img src="{{asset('build/images/jeunesse3.jpg')}}" alt="jeunesse3" class="img-responsive">

                <div class="carousel-caption">
                    <h1>La nouvelle plateforme de l'ENI !</h1>
                    <p>Grâce à <a href="#" class="lien"><b>Sortir.com</b></a> vous allez pouvoir organiser et participer à des activités extra-scolaires.
                        <br>L'objectif est de vous permettre de créer du lien avec les autres élèves mais aussi de développer votre réseau !</p>
                </div>
            </div>
        </div>
    </div>
</article>

<article class="article-activites">
        <div class="container">
            <div class="row">
                <div class="col-12">
                      <h2>6 TYPES D'ACTIVITÉS</h2>
                </div>
            </div>
        </div>
    <div class="container">
        <div class="row">
                <div class="col-2">
                    <a href={{ path('sortie_categorie', {'id' : 1}) }}>
                         <img src="{{asset('build/images/sport.svg')}}" alt="sport" class="image-picto">
                        <h3>Sport</h3>
                   <p>Basketball, volley, running...{#  Rien de mieux que se dépenser en équipe après une journée assis devant son ordinateur !>#}</p
                    </a>
                </div>

            <div class="col-2">
                <a href={{ path('sortie_categorie', {'id' : 2}) }}>
                <img src="{{asset('build/images/musique.svg')}}" alt="musique" class="image-picto">
                <h3>Musique</h3>
              <p>Concerts, festival, cours de musique...</p>
                </a>
            </div>

            <div class="col-2">
                <a href={{ path('sortie_categorie', {'id' : 4}) }}>
                <img src="{{asset('build/images/culture.svg')}}" alt="culture" class="image-picto">
                <h3>Culture</h3>
               <p>Musée, théâtre, exposition...</p>
                </a>
            </div>

            <div class="col-2">
                <a href={{ path('sortie_categorie', {'id' : 3}) }}>
                <img src="{{asset('build/images/informatique.svg')}}" alt="informatique" class="image-picto">
                <h3>Informatique</h3>
            <p>Hackaton, cours particulier, réparation... {#    Partager son savoir est valorisant pour les érudits commes pour les débutants !#}</p>
            </a>
            </div>

            <div class="col-2">
                <a href={{ path('sortie_categorie', {'id' : 6}) }}>
                <img src="{{asset('build/images/aperitif.svg')}}" alt="aperitif" class="image-picto">
                <h3>Apéritif</h3>
                <p>Brasserie, bar, restaurant...{# Le métier d'informaticien n'est pas incompatible avec le fait d'être un bon vivant !#}</p>
                </a>
            </div>

            <div class="col-2">
                <a href={{ path('sortie_categorie', {'id' : 5}) }}>
                <img src="{{asset('build/images/divers.svg')}}" alt="divers" class="image-picto">
                <h3>Divers</h3>
               <p>Libre à vous d'imaginer tout autre type de sortie... {# et d'en faire profiter les élèves de l'ENI !#}</p>
               </a>
            </div>
        </div>
    </div>
</article>

<article class="article-sorties">

        <div class="row">
            <div class="col-12">
                <h2>LES PROCHAINE SORTIES</h2>
            </div>
        </div>
    <div class="row justify-content-md-center">
{#        {% set etatFav =  app.request.get('listeSorties') %}#}

            {% for sortie, valeur in listeSorties %}
                <div class="card col-lg-2 sortieRec" style="width: 18rem;">

                    {% set cat = valeur.categorie  %}
                    {% if cat.id == 1 %}
                        <img src="{{ asset('build/images/sport.jpg') }}" alt="sortieSoprt" class="image-picto-m"/>
                    {% elseif cat.id == 2  %}
                        <img src="{{ asset('build/images/music4.jpg') }}" alt="sortieMusique" class="image-picto-m"/>
                    {% elseif cat.id == 3  %}
                        <img src="{{ asset('build/images/informatique.jpg') }}" alt="sortieInfo" class="image-picto-m"/>
                    {% elseif cat.id == 4  %}
                        <img src="{{ asset('build/images/culture.jpg') }}" alt="sortieCulture" class="image-picto-m"/>
                    {% elseif cat.id == 5  %}
                        <img src="{{ asset('build/images/divers.jpg') }}" alt="sortieDivers" class="image-picto-m"/>
                    {% elseif cat.id == 6  %}
                        <img src="{{ asset('build/images/aperitif.jpg') }}" alt="sortieApero" class="image-picto-m"/>
                    {% endif %}

                    <h4 class="card-title">{{ valeur.nom }}</h4>

                    <div class="card-body">

{#                        <p class="card-text">Commence dans</p> <p class="countDown"></p>#}
{#                        <input class="dateSortie" type="hidden" value="{{ valeur.dateHeureDebut|date("M j, Y H:i:s") }}">#}
                        <div id="button">
                            <a href="{{ path('sortie_show', {'id': valeur.id }) }}"><button type="button" class="btn btn-primary">Voir la sortie</button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}

    </div>

</article>

    <article class="article-creation">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>CRÉEZ VOS PROPRES SORTIES</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                <div class="col-3">
                    <a href="{{ path('sortie_new') }}">
                    <img src="{{asset('build/images/lieu.svg')}}" alt="lieu" class="image-creation">
                    <p><b>1.</b> Ajoutez un lieu</p>
                    </a>
                </div>
                <div class="col-3">
                    <a href="{{ path('sortie_new') }}">
                    <img src="{{asset('build/images/site.svg')}}" alt="site" class="image-creation">
                    <p><b>2.</b> Précisez le site</p>
                    </a>
                </div>
                <div class="col-3">
                    <a href="{{ path('sortie_new') }}">
                    <img src="{{asset('build/images/type-activite.svg')}}" alt="type-activite" class="image-creation">
                    <p><b>3.</b> Puis le type d'activité</p>
                    </a>
                </div>
                <div class="col-3">
                    <a href="{{ path('sortie_new') }}">
                    <img src="{{asset('build/images/participants.svg')}}" alt="participants" class="image-creation">
                    <p><b>4.</b> Et n'oubliez pas le nombre maximum de participant</p>
                    </a>
                </div>

            </div>
        </div>
    </article>

    <article class="article-rejoignez">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>REJOIGNEZ-NOUS</h2>
                </div>
            </div>
        </div>

        <div class="container container-inscription">
            <div class="row">
                <div class="col-9">
                    <p>Vous n'êtes pas encore inscrits ? N'hésitez-plus, sautez le pas et profitez de tous les avantages du site ! </p>
                </div>
                <div class="col-3">
                    <a class="nav-link" href="{{ path('fos_user_registration_register') }}">
                        <button type="button" class="btn btn-primary btn-lg">Je m'inscris</button>
                    </a>

                </div>
            </div>
        </div>



{% endblock %}