<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {# Chargement des feuilles de style #}
    {{ encore_entry_link_tags('pagetype') }}
    {{ encore_entry_link_tags('accueil') }}
    {{ encore_entry_link_tags('fosuser') }}


    <link href="https://fonts.googleapis.com/css?family=Gayathri|Quicksand&display=swap" rel="stylesheet">
</head>
<body>
<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"  href="/accueil">

            <img class="img-logo" alt="logo-sortir" src="{{asset('build/images/sortir-logo.png')}}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="annonce nav-item active">
                    <a class="nav-link"  href="/accueil">Accueil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-text nav-item">
                    <a class="nav-link" href="{{ path('Sortie_afficheraffich_affich') }}">Les sorties</a>
                </li>
                {% if app.user %}
                    <li class="nav-text nav-item">
                        <a class="nav-link" href="{{ path('sortie_new') }}">Créer une sortie</a>
                    </li>
                    <li class="nav-text nav-item">
                        <a class="nav-link" href="{{ path('fos_user_profile_show') }}">Mon profil</a>
                    </li>
                {% elseif app.user is none %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Inscription</a>
                    </li>
                    <li class="nav-text nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">Se connecter</a>
                    </li>

                {% endif %}

            </ul>

        </div>
        <div class="collapse navbar-collapse" id="connectUser">
            {% if app.user %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_profile_show') }}">{{ app.user.nom}}</a>
                </li>
                <li class="nav-text nav-item">
                    <a class="nav-link"  href="{{ path('fos_user_security_logout') }}">Se déconnecter<a/>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
</header>
<main>

        {% block main %}

        {% endblock %}

</main>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-4 footer-box">
                <a href="#" class="footer-text">Conditions Générales d'utilisation</a>
            </div>
            <div class="col-4 footer-box">
                <a href="#" class="footer-text">A propos de</a>
            </div>
            <div class="col-4 footer-box">
                <a href="#" class="footer-text">Contact</a>
            </div>
        </div>
    </div>
</footer>
{# Chargement des scripts #}
{{ encore_entry_script_tags('app') }}

{{ encore_entry_script_tags('newSortie') }}
{% block javascripts %}{% endblock %}
</body>
</html>