{% extends 'pagetype.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block main %}
    <section class="container">
            <div class="fosuser-div-profile fos_user_user_show">
                <h1>Profil de {{ user.username }}</h1>
                <img src="{{ asset('build/images/userPic.jpg') }}" class="card-img-top img-profil" alt="...">

                <p><b>{{ 'Nom'|trans }}:</b> {{ user.nom }}</p>
                <p><b>{{ 'Prénom'|trans }}:</b> {{ user.prenom }}</p>
                <p><b>{{ 'Téléphone'|trans }}:</b> {{ user.telephone }}</p>
                <p><b>{{ 'Site de rattachement'|trans }}:</b> {{ user.site.nom }}</p>

                <div class="row div-connect ">
                    <div class="col-6 center">

                    </div>
                </div>
                <div class="form-group annuler">
                    <a href="{{ url('Sortie_afficheraffich_affich') }}"><button class="btn btn-danger">Retour</button></a>
                </div>
            </div>
    </section>
{% endblock %}